body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #444;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}




/* jhipster-needle-css-add-main JHipster will add new css style */
.card-title, .footer-big h4, .footer-big h5, .footer-brand, .info-title, .media .media-heading, .title {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
    color: #3C4858;
    text-decoration: none;
}
h2.title {
    margin-bottom: 30px;
}
.card-description, .description, .footer-big p {
    color: #999;
}

.card, .card .card-image {
    position: relative;
    border-radius: 6px;
}


.card {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.card .card-height-indicator {
    margin-top: 100%}
.card.no-shadow .card-image, .card.no-shadow .card-image img {
    box-shadow: none;
}
.card .card-image {
    height: 60%;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
}
.card .card-image img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, .5);
}
.card .card-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
}
.card .card-image.no-shadow {
    box-shadow: none;
}
.card .card-image.no-shadow.shadow-normal, .card .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.card .card-image.no-shadow .colored-shadow {
    display: none!important;
}
.card .category:not([class*=text-]) {
    color: #999;
}
.card .header .title, .card [class*=header-], .card [class*=header-] .card-title, .card [class*=header-] .card-title a, .card [class*=header-] .icon i, .card [class*=content-], .card [class*=content-] .card-title, .card [class*=content-] .card-title a, .card [class*=content-] .icon i {
    color: #FFF;
}
.card .card-content {
    padding: 15px 30px;
}
.card .card-body {
    height: 30%;
    padding: 18px;
}
.card .card-footer {
    height: 10%;
    padding: 18px;
}
.card .card-footer a, .card .card-footer button {
    margin: 0!important;
    position: relative;
    bottom: 25px;
    width: auto;
}
.card .card-footer a:first-child, .card .card-footer button:first-child {
    left: -15px;
}
.card .header {
    margin: 15px;
    border-radius: 3px;
    padding: 15px 0;
    background-color: #FFF;
}
.card .content-primary, .card .header-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}
.card .content-info, .card .header-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}
.card .content-success, .card .header-success {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}
.card .content-warning, .card .header-warning {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}
.card .content-danger, .card .header-danger {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}
.card .content-rose, .card .header-rose {
    background: linear-gradient(60deg, #ec407a, #c2185b);
}
.card-nav-tabs .nav-tabs, .card-plain {
    background: 0 0;
}
.card .header-primary {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
}
.card .header-danger {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(244, 67, 54, .6);
}
.card .header-rose {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(233, 30, 99, .6);
}
.card .header-warning {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(255, 152, 0, .6);
}
.card .header-info {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(0, 188, 212, .6);
}
.card .header-success {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(76, 175, 80, .6);
}
.card [class*=header-] .icon i, .card [class*=content-] .icon i {
    border-color: rgba(255, 255, 255, .25);
}
.card [class*=header-] .author a, .card [class*=header-] .card-description, .card [class*=header-] .category, .card [class*=header-] .footer .stats, .card [class*=content-] .author a, .card [class*=content-] .card-description, .card [class*=content-] .category, .card [class*=content-] .footer .stats {
    color: rgba(255, 255, 255, .8);
}
.card [class*=header-] .author a:active, .card [class*=header-] .author a:focus, .card [class*=header-] .author a:hover, .card [class*=content-] .author a:active, .card [class*=content-] .author a:focus, .card [class*=content-] .author a:hover {
    color: #FFF;
}
.card [class*=content-] {
    border-radius: 6px;
}
.card [class*=content-] h1 small, .card [class*=content-] h2 small, .card [class*=content-] h3 small {
    color: rgba(255, 255, 255, .8);
}
.card img {
    width: 100%;
    height: auto;
}
.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}
.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}
.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.card .author a {
    color: #3C4858;
    text-decoration: none;
}
.card .author a .ripple-container {
    display: none;
}
.card .footer {
    margin-top: 15px;
}
.card .footer div {
    display: inline-block;
}
.card .footer .author {
    color: #999;
}
.card .footer .stats {
    float: right;
    line-height: 30px;
    color: #999;
}
.card .footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 18px;
}
.carousel .card {
    max-width: 650px;
    margin: 60px auto;
}
.card .checkbox, .card .radio {
    margin-top: 16px;
}
.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
}
.card-signup .text-divider {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
.card-signup .card-content {
    padding: 0 30px 0 10px;
}
.card-signup .checkbox {
    margin-top: 20px;
}
.card-signup .checkbox label {
    margin-left: 17px;
}
.card-signup .checkbox .checkbox-material {
    padding-right: 12px;
}
.card-signup .social-line {
    margin-top: 15px;
    text-align: center;
    padding: 0;
}
.card-signup .social-line .btn {
    color: #FFF;
    margin-left: 5px;
    margin-right: 5px;
}
.card-contact .header {
    margin-top: -20px;
}
.card-contact .header .title {
    margin: 10px 0;
}
.card-nav-tabs {
    margin-top: 45px;
}
.card-nav-tabs .header {
    margin-top: -30px;
}
.card-plain {
    box-shadow: none;
}
.card-profile .card-avatar, .card-raised, .card-testimonial .card-avatar, .iframe-container iframe, .rotating-card-container .card .back, .rotating-card-container .card-image .back {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.card-plain .header {
    margin-left: 0;
    margin-right: 0;
}
.card-plain .card-content {
    padding-left: 5px;
    padding-right: 5px;
}
.card-plain .card-image {
    margin: 0;
    border-radius: 6px;
}
.card-plain .card-image img {
    border-radius: 6px;
}
.iframe-container iframe {
    width: 100%}
.card-form-horizontal .card-content {
    padding-left: 15px;
    padding-right: 15px;
}
.card-form-horizontal .form-group {
    padding-bottom: 0;
    margin: 3px 0 0;
}
.card-form-horizontal .form-group .form-control {
    margin-bottom: 0;
}
.card-form-horizontal .btn {
    margin: 0;
}
.card-form-horizontal .input-group .input-group-addon {
    padding-left: 0;
}
.card-profile, .card-testimonial {
    margin-top: 30px;
    text-align: center;
}
.card-profile .btn-just-icon.btn-raised, .card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}
.card-profile .card-avatar, .card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.card-profile .card-avatar+.card-content, .card-testimonial .card-avatar+.card-content {
    margin-top: 15px;
}
.card-profile.card-plain .card-avatar, .card-testimonial .footer, .card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}
.card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px;
}
.card-testimonial .footer .card-avatar {
    margin-top: 10px;
    margin-bottom: -50px;
}
.card-blog, .card-testimonial .card-description+.card-title, .card-testimonial .icon {
    margin-top: 30px;
}
.card-testimonial .icon .material-icons {
    font-size: 40px;
}
.card-blog .row .category {
    margin-bottom: 0;
}
.card-blog .card-title {
    margin-top: 5px;
}
.card-blog .card-image+.category {
    margin-top: 20px;
}
.card-pricing {
    text-align: center;
}
.card-pricing .card-title {
    margin-top: 30px;
}
.card-pricing .card-content {
    padding: 15px!important;
}
.card-pricing .icon {
    padding: 10px 0 0;
    color: #999;
}
.card-pricing .icon i {
    font-size: 55px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    width: 130px;
    line-height: 130px;
    height: 130px;
}
.card-pricing h1 small {
    font-size: 18px;
}
.card-pricing h1 small:first-child {
    position: relative;
    top: -17px;
    font-size: 26px;
}
.card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}
.card-pricing ul li {
    color: #999;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, .3);
}
.card-pricing ul li:last-child {
    border: 0;
}
.card-pricing ul li b {
    color: #3C4858;
}
.card-pricing ul li i {
    top: 6px;
    position: relative;
}
.card-pricing [class*=content-] ul li, .card-pricing.card-background ul li {
    color: #FFF;
    border-color: rgba(255, 255, 255, .3);
}
.card-pricing [class*=content-] [class*=text-], .card-pricing [class*=content-] ul li b, .card-pricing.card-background [class*=text-], .card-pricing.card-background ul li b {
    color: #FFF;
}
.card-pricing.card-background:after {
    background-color: rgba(0, 0, 0, .7);
}
.back-background, .card-background {
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.back-background .card-content, .card-background .card-content {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}
.back-background:not(.card-pricing) .btn, .card-background:not(.card-pricing) .btn, .card-product .category, .card-product .footer .price h4 {
    margin-bottom: 0;
}
.back-background .card-description, .back-background .category, .back-background small, .card-background .card-description, .card-background .category, .card-background small {
    color: rgba(255, 255, 255, .7);
}
.back-background .card-title, .card-background .card-title {
    color: #FFF;
    margin-top: 10px;
}
.back-background:after, .card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, .56);
    border-radius: 6px;
}
.back-background .card-content {
    min-height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card-product {
    margin-top: 30px;
}
.card-product .footer, .card-product .footer .stats {
    margin-top: 5px;
}
.card-product .btn-simple.btn-just-icon {
    padding: 0;
}
.card-product .card-description, .card-product .card-title, .card-product .category {
    text-align: center;
}
.card-product .category~.card-title {
    margin-top: 0;
}
.card-product .price {
    font-size: 18px;
    color: #9A9A9A;
}
.card-product .price-old {
    text-decoration: line-through;
    font-size: 16px;
    color: #9A9A9A;
}
.card-product .price-new {
    color: #f44336;
}
@media (min-width:768px) {
    .card .card-image .colored-shadow.colored-shadow-big {
    top: 23px;
    filter: blur(15px);
}
